torch==1.1.0
torchvision
EasyDict==1.7
shapely==1.6.4
# shapely==1.8.2
Cython
scipy
pandas
pyyaml
json_tricks
scikit-image
yacs>=0.1.5
tensorboardX>=1.6
h5py
click
tqdm
motmetrics
dsntnn==0.4.0a0
#torch==1.4.0
#torchvision==0.5.0
opencv-python
mmcv
numpy
pillow==7.1.2
cython
kiwisolver
fonttools
cycler
matplotlib==3.5.3